<div id="skin-chooser-wrap" class="skin-chooser-wrap hidden transition">
  <span class="change-style">Life Church Search</span>
  <span id="skin-chooser-toggle" class="skin-chooser-toggle"><svg class="icon icon--globe fa-globe" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-globe' | prepend: 'assets/icons/' | relative_url }}"></use></svg></span>
      <div class="list-group">
           <a id="bible" class="iframe list-group-item" href="https://www.bible.com/bible/1/mat.6.kjv" rel="nofollow"><i class="fa fa-search"></i>&nbsp;Bible Search</a>
           <a id="enochpreface" class="iframe list-group-item" href="https://bibwoe.com/posts/2018-07-14-post-Enoch-Preface/" rel="nofollow"><i class="fa fa-file-text"></i>&nbsp;Enoch Preface</a>
           <a id="enochsymbols" class="iframe list-group-item" href="https://bibwoe.com/posts/2018-07-14-post-Enoch-Symbols/" rel="nofollow"><i class="fa fa-file-code-o"></i>&nbsp;Symbols</a>
           <a id="enochone" class="iframe list-group-item" href="https://bibwoe.com/posts/2018-07-13-post-Books-Of-1-Enoch-1-108/" rel="nofollow"><i class="fa fa-book"></i>&nbsp;Enoch 1 -108</a>
           <a id="enoch2" class="iframe list-group-item" href="https://bibwoe.com/posts/2018-07-14-post-Book-Of-2-Enoch/" rel="nofollow"><i class="fa fa-book"></i>&nbsp;2 Enoch Greek</a>
      </div>
</div>